*.pyc
*.bin
newfont/font_8_16.png
newfont/font_8_16.xcf
newfont/font_16.xcf
newfont/font_24_48.png
newfont/font_24_48.xcf
newfont/font_32_16.png
newfont/font_32_16.xcf
newfont/font_40_64.png
newfont/font_40_64.xcf
src/a.py
tools/myfont1.png
tools/a.py
tools/a.png
src/f1.py
